<form method="post" action="/User/Register">
    <input type="text" class="form-control" name="firstName" placeholder="First Name" />
    <br />
    <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
    <br />
    <input type="text" class="form-control" name="email" placeholder="Email" />
    <br />
    <input type="text" class="form-control password" name="password" placeholder="Password" />
    <br />
    <input type="text" class="form-control confirm" name="confirmPassword" placeholder="Confirm Password" />
    <br />
    <br />
    <button class="btn btn-danger signUp" disabled>Sign Up</button>
</form>

@section scripts{
    <script src="~/Scripts/User.js"></script>
    }