<form action="/User/SignIn" method="post">
    <input type="text" class="form-control" name="email" placeholder="Email" />
    <br />
    <input type="text" class="form-control" name="password" placeholder="Password" />
    <br />
    <br />
    <button class="btn btn-danger" >Sign In</button>
</form>
